@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
}

.header-section {
  padding: 0px 200px;
  background-color: #1f2937;
}

.menu-bar {
  display: flex;
  justify-content: space-between;
  padding: 20px 0px;
  color: #e5e7eb;
}

.menu-bar p {
  font-size: 20px;
  font-weight: 800;
}
.menu-bar ul {
  display: flex;
  gap: 20px;
}

.menu li {
  list-style: none;
}

.hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0px;
  gap: 60px;
  background-color: #1f2937;
}

.hero-section .hero-image {
  padding: 100px 200px;
  background-color: #6d747d;
}

.hero-text h1 {
  font-size: 48px;
  font-weight: 900;
}

.hero-text p {
  margin-bottom: 10px;
}

.hero-section {
  color: #e5e7eb;
}

.hero-image p {
  flex-wrap: nowrap;
}
