@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.navbar {
  color: white;
  background-color: #1e2836;
  height: 60px;
}

.navbar .logo {
  font-size: 24px;
  font-weight: 800;
}

.navbar ul li {
  list-style: none;
}

.nav {
  display: flex;
  gap: 20px;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.header {
  color: white;
  background-color: #1e2836;
  height: 450px;
}

.header .container {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 40px;
}

.header h1 {
  font-size: 48px;
  font-weight: bold;
  line-height: 55px;
  margin-bottom: 10px;
}

.header .hero-text p {
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 15px;
  color: #c8cbd0;
}

.header button {
  padding: 8px 30px;
  font-size: 16px;
  color: white;
  background-color: #3b82f6;
  border-radius: 8px;
  font-weight: bold;
}

.header .hero-image {
  width: 900px;
  height: 250px;
  background-color: #6d747d;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 450px;
  width: 700px;
}

.info .boxes {
  display: flex;
  gap: 5px;
}

.info .box {
  width: 200px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.info h2 {
  font-size: 34px;
  font-weight: 800;
  margin-bottom: 20px;
}

.info .image {
  width: 160px;
  height: 160px;
  border: 4px solid #3b82f6;
  margin-bottom: 10px;
  border-radius: 10px;
}

.info div p {
  width: 165px;
  text-align: center;
  /* flex-wrap: wrap; */
  font-size: 18px;
  color: #666f7b;
}

.testimonial {
  background-color: #e5e7eb;
}

.testimonial .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  height: 450px;
  width: 800px;
}

.testimonial p {
  font-size: 34px;
  font-style: italic;
  font-weight: 200;
}

.testimonial .author {
  font-size: 24px;
  font-weight: bold;
  align-self: flex-end;
  margin-right: 50px;
}

.call-to-action {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.call-to-action .container {
  color: white;
  height: 50px;
  width: 900px;
  /* flex: 1; */
  background-color: #3b82f6;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 150px;
  padding: 70px 90px;
  border-radius: 10px;
}

.call-to-action .call-text {
  font-size: 24px;
  font-weight: 600;
}

.call-to-action button {
  border: 2px solid #fff;
  background-color: #3b82f6;
  padding: 8px 30px;
  color: #fff;
  border-radius: 5px;
  font-weight: bold;
  font-size: 16px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  background-color: #1f2937;
  color: white;
}
