@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

.container {
  max-width: 900px;
  margin: 0 auto;
}

.navbar {
  color: white;
  background-color: #1e2836;
  height: 60px;
}

.navbar .logo {
  font-size: 24px;
  font-weight: 800;
}

.navbar ul li {
  list-style: none;
}

.nav {
  display: flex;
  gap: 20px;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.header {
  color: white;
  background-color: #1e2836;
  height: 400px;
}

.header .container {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 30px;
}

.header h1 {
  font-size: 48px;
  font-weight: bold;
  line-height: 45px;
  margin-bottom: 15px;
}

.header .hero-text p {
  margin-bottom: 15px;
}

.header button {
  padding: 8px 30px;
  font-size: 14px;
  color: white;
  background-color: #3b82f6;
  border-radius: 8px;
}

.header .hero-image {
  width: 900px;
  height: 250px;
  background-color: #6d747d;
  display: flex;
  justify-content: center;
  align-items: center;
}
